form{
    width:100%;
    max-width: 400px;
    margin:20px auto;
    padding:20px;
    background: #f9f9f9;
    border-radius:8px;
    box-shadow: opx opx 10px rgba(0,0,0,0.1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
 }
 input, select{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
 }
 input:focus,select:focus{
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123,255, 0.5);
 }
 button{
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
 }
 button:hover{
    background-color: #0056b3;
 }
 /* responsive design */
 @media (max-width:600px){
    form{
        padding:15px;
    }
 }
 